<a href="/detail.html" class="catalog-third-lvl__item">
	<div class="catalog-third-lvl__item-img">
		<img src="@@img" alt="">
		<div class="dop-params">
			<div class="sale-stock">АКЦИЯ!</div>
			<div class="sale-count">
				Количество <br>
				ограничено!
			</div>
		</div>
	</div>
	<div class="catalog-third-lvl__item-bot">
		<div class="h4-style catalog-third-lvl__items-name">@@title</div>
		<div class="catalog-third-lvl__items-descr">
			<div class="catalog-third-lvl__item-color">Вариантов цвета: 12</div>
			<div class="catalog-third-lvl__item-country">Страна: Канада, Бельгия, Словакия</div>
		</div>
		<div class="sale-card__price">
			От <span>240 ₽</span> за кв. м
		</div>
	</div>
</a>