<section class="contact-us-section">
	<div class="container">
		<h2 class="h2-style contact-us__header">СВЯЖИТЕСЬ С НАМИ</h2>
		<div class="contact-us-row">
			<div class="contact-us-row__item contact-us-item__estimate">
				<div class="estimate__header">Узнайте стоимость кровли, фасада, забора</div>
				<div class="estimate__descr estimate__descr--no-tablet">
					Отправьте нам чертежи вашего проекта <br>
					и закажите предварительную смету
				</div>
				<div class="estimate__descr estimate__descr--on-tablet">
					Отправьте нам чертежи проекта
				</div>
				<button class="btn btn-thing btn-thing--white" onclick="event.stopPropagation();o2.popups.showPopup(1);">ЗАКАЗАТЬ СМЕТУ</button>
			</div>
			<div class="contact-us-row__item contact-us-item__get-consultation">
				<div class="consultation__header">
					Получите <br>
					консультацию по <br>
					выбору и монтажу
				</div>
				<div class="consultation__phone">
					<a href="tel:+7 (8412) 34-41-02">+7 (8412) 34-41-02</a>
				</div>
				<button class="btn btn-fat">Заказать звонок</button>
			</div>
			<div class="contact-us-row__item contact-us-item__graph-work">
				<div class="graph-work__header">Приходите к нам!</div>
				<div class="graph-work__decr">Все покажем и расскажем</div>
				<div class="graph-work__table">
					<div class="graph-work__table-row">
						<div class="graph-work__table-cell graph-work__table-cell-days">Пн-Пт</div>
						<div class="graph-work__table-cell graph-work__table-cell-deliter"></div>
						<div class="graph-work__table-cell graph-work__table-cell-work-time">9:00 - 18:00</div>
					</div>
					<div class="graph-work__table-row">
						<div class="graph-work__table-cell graph-work__table-cell-days">Сб-Вс</div>
						<div class="graph-work__table-cell graph-work__table-cell-deliter"></div>
						<div class="graph-work__table-cell graph-work__table-cell-work-time">10:00 - 14:00</div>
					</div>
				</div>
				<div class="graph-work__show-map">
					<a href="#" class="show-map__link">Магазины на карте</a>
				</div>
			</div>
		</div>
	</div>
</section>