<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="footer-logo">
				<a href="/">
					<img src="/images/icons/Logo.svg" alt="ваш дом">
				</a>
			</div>
			<div class="footer-content">
				<div class="footer-nav-wr">
					<nav class="footer-nav">
						<ul class="footer-nav__list">
							<li>
								<a href="/about.html">О компании</a>
							</li>
							<li>
								<a href="/services.html">Наши услуги</a>
							</li>
							<li>
								<a href="our-works.html">Готовые проекты</a>
							</li>
							<li>
								<a href="contacts.html">Контакты</a>
							</li>
						</ul>
					</nav>
					<nav class="footer-nav">
						<ul class="footer-nav__list">
							<li>
								<a href="/catalog2.html">Материалы для кровли</a>
							</li>
							<li>
								<a href="/catalog2.html">Материалы для фасада</a>
							</li>
							<li>
								<a href="/catalog2.html">Заборы и ограждения</a>
							</li>
							<li>
								<a href="/catalog2.html">Дополнительные материалы</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="footer-contacts">
					<div class="footer-contacts__links">
						<a href="tel:+7 (8412) 34-41-02">+7 (8412) 34-41-02</a>
						<br>
						<a href="mailto:vashdom-pnz@yandex.ru">vashdom-pnz@yandex.ru</a>
					</div>
					<div class="footer-contacts__addresses">
						г. Пенза
						<ul class="red-markered-list addresses-list">
							<li>ул. Чкалова,19/Калинина, 22</li>
							<li>ул. Новотерновская д.3, ТЦ "Форпост"</li>
							<li>ул. Чаадаева 60Б</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-wr">
			<div class="copyright-left">©　1995 - 2017   Ваш дом</div>
			<div class="copyright-right">Разработано в студии «Семь пап!»</div>
		</div>
	</div>
</footer>
@@include('popups.html')