<div class="bl_need_help">
	<div class="container">
		<div class="need_help_h1">
			<h1>Нужна помощь?</h1>
		</div>
		<div class="need_help_options">
			<div class="need-help__block">
				<div class="need-help__icon need_help_help_to_choose"></div>
				<h2>Поможем<br>выбрать</h2>
				<p>Подберем лучшие материалы<br>в соответствии с вашими<br>желаниями и возможностями</p>
			</div>
			<div class="need-help__block">
				<div class="need-help__icon need_help_estimate_the_cost"></div>
				<h2>Оценим<br>стоимость</h2>
				<p>Сделайте заказ, и мы приедем<br>к вам с приборами, снимем<br>мерки и составим смету</p>
			</div>
			<div class="need-help__block">
				<div class="need-help__icon need_help_find_installers"></div>
				<h2>Найдем монтажную<br>бригаду</h2>
				<p>Мы с радостью поделимся<br>с вами нашим списком<br>проверенных рабочих бригад</p>
			</div>
			<div class="need-help__block">
				<div class="need-help__icon need_help_answer_the_questions"></div>
				<h2>Ответим на ваши<br>вопросы</h2>
				<p>Бесплатная консультация:</p>
				<div class="button_number">
					<a href="#" class="need_help_button">+7 (8412) 34-41-02</a>
				</div>
			</div>
		</div>
	</div>
</div>