/*  Переменные со шрифтами  */
$open: 'OpenSans', sans-serif;
$condensed: 'OpenSans-Condensed', sans-serif;
$arimo: 'Arimo', sans-serif;


$ease: all .2s ease-in-out;

/*  основные цвета  */
$black: #000;
$pink: #E42339;
$green: #1F9053;
$red: #C60A10;
$grey: #F5F5F5;

/* основные брейкпоинты */
$desctop: 1440px;
$tablet: 1024px;
$mobile: 560px;
